services:
  api:
    build: ./api
    container_name: api-server
    ports:
      - "4000:4000"

  web:
    build: ./web
    container_name: web-server
    ports:
      - "3000:3000"
    depends_on:
      - api

      